__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store

*.log

# Large raw Kaggle dataset files
data/raw/objects.csv
data/raw/relationships.csv
data/raw/funding_rounds.csv
data/raw/degrees.csv
data/raw/offices.csv
data/raw/people.csv
data/raw/milestones.csv
data/raw/investments.csv
data/raw/acquisitions.csv